In [37]:
import pandas as pd
from datetime import datetime
import pickle as pk

# Load the model
loaded_model = pk.load(open("modelo_final_escogido.pickle", "rb"))

In [59]:
# Rellenar características.

m2 = int(input("Metros Cuadrados: "))

Metros Cuadrados:  47

In [ ]:
Ubicacion = input("Ubicación de Google Maps: ") # 6.175082, -75.576859

In [ ]:
Latitud, Longitud = Ubicacion.split(',')

Latitud = float(Latitud)
Longitud = float(Longitud)

In [ ]:
Antiguedad = int(input("Antigüedad (Grupo del 1 al 5): "))

In [ ]:
Estrato = int(input("Estrato (1 a 6): "))

In [ ]:
Num_dormitorios = int(input('Dormitorios (bedrooms): '))
Banos = int(input("Baños: "))
Num_parqueaderos = int(input("Num parqueaderos: "))

In [ ]:
Fecha_creacion_oferta = input("Fecha de Creacion de Oferta YYYY-MM-DD: ")
Fecha_actualizacion_oferta = input("Fecha de Creacion de Oferta YYYY-MM-DD: ")

Fecha_creacion_oferta = datetime.strptime(Fecha_creacion_oferta, "%Y-%m-%d")
Fecha_actualizacion_oferta = datetime.strptime(Fecha_actualizacion_oferta, "%Y-%m-%d")

In [73]:
decision_tipo_apto = int(input("[1]: Casa o [2]: Apto: "))
print()

decision_ciudad = int(input(" CIUDAD: \n[1]: Bello \n[2]: Envigado \n[3]: Itagüí \n[4]: La Estrella \n[5]: Medellín \n[6]: Sabaneta \n > "))

[1]: Casa o [2]: Apto:  2

 CIUDAD:
[1]: Bello
[2]: Envigado
[3]: Itagüí
[4]: La Estrella
[5]: Medellín
[6]: Sabaneta
 >  5

In [81]:
# --- Inicializar DataFrame con todas las columnas en 0/NaN ---
columnas = ['Metros Cuadrados', 'Estrato', 'Latitud', 'Longitud',
            'Antigüedad (Grupo)', 'Dormitorios (bedrooms)', 'Baños', 'Parqueaderos',
            'Fecha de Creacion de Oferta', 'Fecha de Actualización de Oferta',
            'tipo_Apartamento', 'tipo_Casa', 'ciudad_Bello',
            'ciudad_Envigado', 'ciudad_Itaguí', 'ciudad_La estrella',
            'ciudad_Medellín', 'ciudad_Sabaneta']

df = pd.DataFrame([[0]*len(columnas)], columns=columnas)

# --- Llenar valores numéricos / fechas ---
df['Metros Cuadrados'] = m2
df['Estrato'] = Estrato
df['Latitud'] = Latitud
df['Longitud'] = Longitud
df['Antigüedad (Grupo)'] = Antiguedad
df['Dormitorios (bedrooms)'] = Num_dormitorios
df['Baños'] = Banos
df['Parqueaderos'] = Num_parqueaderos
df['Fecha de Creacion de Oferta'] = int(Fecha_creacion_oferta.timestamp())

df['Fecha de Actualización de Oferta'] = int(Fecha_actualizacion_oferta.timestamp()) 


# --- Llenar columnas one-hot según selección ---
if decision_tipo_apto == 1:
    df['tipo_Casa'] = 1
    df['tipo_Apartamento'] = 0
else:
    df['tipo_Casa'] = 0
    df['tipo_Apartamento'] = 1

ciudades = {
    1: 'ciudad_Bello',
    2: 'ciudad_Envigado',
    3: 'ciudad_Itaguí',
    4: 'ciudad_La estrella',
    5: 'ciudad_Medellín',
    6: 'ciudad_Sabaneta'
}

for key in ciudades:
    if key != decision_ciudad:
        df[ciudades[key]] = 0
    else:
        df[ciudades[key]] = 1

In [82]:
predictions = loaded_model.predict(df)

In [83]:
print(f"Precio Sugerido: ${predictions[0].round():,} COP")

df

Precio Sugerido: $197,070,849.0 COP

,Metros Cuadrados,Estrato,Latitud,Longitud,Antigüedad (Grupo),Dormitorios (bedrooms),Baños,Parqueaderos,Fecha de Creacion de Oferta,Fecha de Actualización de Oferta,tipo_Apartamento,tipo_Casa,ciudad_Bello,ciudad_Envigado,ciudad_Itaguí,ciudad_La estrella,ciudad_Medellín,ciudad_Sabaneta
0,47,3,6.229874,-75.537279,3,3,1,1,1762664400,1762664400,1,0,0,0,0,0,1,0